
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="~{index :: link}"></div>
    <link th:fragment="link_icon" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>comment</title>
</head>
<body>
<div th:fragment="commentSection">
    <div class="my-2" style="width: 100%; margin: auto;" >
        <div class=" mb-4" th:each="comment: ${comments}">
            <div class="row rounded" style="background-color: white" >
                <div class="col-1 d-flex flex-col align-items-center">
                    <div>
                        <a th:href="@{/handle-upvoteComment/{id}(id=${comment.comment_id})}"><i class="bi bi-arrow-up-short" style="font-size: 25px;"></i></a>
                    </div>
                    <p id="demo2" style="font-size: 18px;" class="text-center m-0" th:text="${comment.vote_count}" >0</p>
                    <div>
                        <a th:href="@{/handle-downvoteComment/{id}(id=${comment.comment_id})}"><i class="bi bi-arrow-down-short" style="font-size: 25px;" ></i></a>
                    </div>
                </div>
                <div class="col-11">
                    <div class="row pt-3" style="margin-right: 5px;">
                        <div class="col-11">
                            <div class="row">
                                        <span class="col">
                                            <span th:text="${post.post_create_date}">10/05/2022</span>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <!-- second row -->
                    <div class="row">
                        <div class="col-11">
                            <p style="margin-top: 5px;">
                                <b style="font-size: 15px"  th:text="${comment.comment_text}">Guitar</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{index :: script}"></div>

</body>
</html>