<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
    <!-- Script BootStrap Header -->
    <div th:fragment="link">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css"/>
    </div>
</head>
<body style="background-color: #DAE0E6;">
<nav class="navbar navbar-light bg-light" th:fragment="navBar" >
    <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 200px"><b>CloneReddit</b></a>
        <form class="d-flex">
            <button type="button" class="btn btn-primary" style="margin-right: 25px">Sign up</button>
            <button type="button" class="btn btn-outline-primary" style="margin-right: 80px">Sign in</button>
        </form>
    </div>
</nav>

<div class="container mx-auto my-5">

    <div class="row">
        <!--Container-->
        <div class="col-8">
            <div class="mb-2">
                <a th:href="@{/home}"><i class="bi bi-arrow-left-circle" style="font-size: 1.7rem"></i></a>
            </div>
            <div th:if="${posts.size()==0}" class="mt-5" style="text-align: center;">
                <h1>No post!</h1>
            </div>
            <div th:if="${posts.size()>0}">
                <div th:replace="allSelectedPost::allSelectedPost"></div>
            </div>
        </div>

        <!-- Card Reddit -->
        <div class="col-3">
            <div class="row">
                <div class="col-12 ">
                    <div class="max-w-sm bg-white rounded-lg border border-gray-200  dark:bg-gray-800 dark:border-gray-700 overflow-hidden" >
                        <a href="#">
                            <img  th:src="@{https://cdn1.dotesports.com/wp-content/uploads/2022/03/29154225/Untitled-4.jpg}"  alt="Reddit Logo" />
                        </a>
                        <div class="p-3">
                            <h5 class="mb-3 font-normal text-black-700 dark:text-black-400">Welcome to the one and only subreddit Clone.</h5>
                            <a th:href="@{/create_subreddit}" type="button" class=" hover:-translate-y-1 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" style="text-align: center; text-decoration: none" >Create Subreddit</a>
                            <div class="pt-3">
                                <a type="button" th:href="@{/post_reddit}" class="hover:-translate-y-1  w-full inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-normal uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" style="text-align: center; text-decoration: none">Create Post</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Browser Subreddits -->
                <div class="col-12 pt-3 ">
                    <div class="p-4 max-w-sm bg-white rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                        <h6 class=" text-lg font-bold tracking-tight text-gray-900 dark:text-black">Browse Subreddits</h6>
                        <div th:each="subreddit, is: ${subreddits}" th:if="${is.count < 6}">
                            <a  th:text="${subreddit.subreddit_title}" th:href="@{/getSelectedPost/{id}(id=${subreddit.subreddit_id})}" class=" block w-full py-2  text-gray-700 border-b border-gray-200 cursor-pointer hover:text-black focus:outline-none focus:ring-2  dark:border-gray-600  dark:hover:text-gray dark:focus:ring-gray-500 dark:focus:text-gray" style="text-decoration-line: underline;"></a>
                        </div>
                        <div class="text-center">
                            <a th:href="@{/view_all}" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" style="text-decoration-line: none;">View All</a>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>