<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{index :: link}"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body style="background-color: #DAE0E6;">

<div th:replace="~{index :: navBar}"></div>

<div class="container mx-auto p-4 " >
    <div class="row">
        <div class="col-8">
            <!-- Icon back -->
            <div class="mb-2">
                <a th:href="@{/home}"><i class="bi bi-arrow-left-circle" style="font-size: 1.7rem"></i></a>
            </div>
            <!-- card display -->
            <div th:each="subreddit: ${subreddits}" class="mb-4 overflow-hidden" >
                <div class="border-zinc-300 border-1 p-3 rounded" style="background-color: white">
                    <a th:href="@{/edit/{id}(id=${subreddit.subreddit_id})}"><i class="bi bi-pencil-fill" style="float:right"></i></a>
                    <a th:href="@{/delete/{id}(id=${subreddit.subreddit_id})}"><i class="bi bi-trash-fill"  style="float:right; margin-right: 20px"></i></a>
                    <a th:href="@{/home}" style="color: black ; text-decoration: none" th:text="${subreddit.subreddit_title}">Hello</a>
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>

</div>
<div th:insert="~{index :: script}"></div>
</body>
</html>